extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css
block content 
    section#introSection 
           div Welcome to Sushant's Dance Acedamy 
           div.small Eat Sleep Dance Repeat
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box
                div.card-img
                    img(src="https://www.kindpng.com/picc/m/34-343850_dancer-clipart-dance-movement-ballroom-dancers-silhouette-hd.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Dance the way you like
            div.card-box
                div.card-img
                    img(src="https://www.kindpng.com/picc/m/34-343850_dancer-clipart-dance-movement-ballroom-dancers-silhouette-hd.png")
                div.card-content
                    p This is the best dance academy of the universe

        div.card
            h3 Expert Teaching
            div.card-box
                div.card-img
                    img(src="https://www.kindpng.com/picc/m/34-343850_dancer-clipart-dance-movement-ballroom-dancers-silhouette-hd.png")
                div.card-content
                    p This is the best dance academy of the universe       
    
    section#sponsorsSection 
            h2 Our Sponsors
            div#sponsors
                img(src="/static/img/skype-logo.jpg",alt="Sponsor image",class="spImage")
                img(src="/static/img/skype-logo.jpg",alt="Sponsor image",class="spImage")
                img(src="/static/img/skype-logo.jpg",alt="Sponsor image",class="spImage")
                
